{
  "extends":"rallycoding",
  "globals":["User"],
  "rules": {
    "no-param-reassign": [
      "error",
      { "props": false }
    ],
    "no-undef": "off",
    "prefer-template":"off",
    "max-len": "off",
    "indent": ["error", "tab"]
    # "no-undef": ["error", { "typeof": false }]
  },


}
